{% extends "auctions/layout.html" %}

{% block body %}

{% if listing.highest_bidder == request.user and listing.active == False %}
    <div>You won!</div>
{% endif %}

    <div class="listing-info">
        <img src="{{ listing.image_path }}">
        <div class="listing-identifiers">
            
            <strong>{{ listing.title }}</strong> 
            <strong>Category: </strong><i>{{ listing.category }}</i>
            <p>{{ listing.description }}</p>
            

        </div>
    </div>
    <div class="bid-amounts">

        {% if listing.current_offer > listing.starting_bid %}
            <strong>Highest Bidder:</strong>{{ listing.highest_bidder }}
            <strong><i>Current bid: </i></strong>${{ listing.current_offer|floatformat:2 }}
        {% else %}
            <strong><i>Starting bid: </i></strong>${{ listing.starting_bid|floatformat:2 }}
        {% endif %}
        <strong><i>Minimum sale: </i></strong>${{ listing.minimum_buyout|floatformat:2 }}
        

    </div>
    <div class="auction-dates">

        <strong><i>Started: </i></strong>{{ listing.start_date }} 
        <strong><i>Ends: </i></strong>{{ listing.end_date }} 

    </div>

    {% if user.is_authenticated and listing.active == True %}
        <form method="post">
            {% csrf_token %}
            <label for="new_offer">Custom offer:</label>
            <input type="number" name="new_offer">
            <input type="submit" value="Bid">
        </form>
        {% if listing.owner == request.user %}
            <form method="post" action="{% url 'close_listing' listing.pk %}">
                {% csrf_token %}
                <button type="submit">Close listing</button>
            </form>
        {% endif %}
        
    {% endif %}

    {% if message %}
        <div style="color: red; font-weight: bold; font-style: italic;">{{ message }}</div>
    {% endif %}

    {% if user.is_authenticated %}
        {% if request.user in listing.favorite.all %}
                <a  href="{% url 'remove_favorite' listing.pk %}"> Remove from watchlist </a>
            {% else %}
                <a  href="{% url 'add_favorite' listing.pk %}"> Add to watchlist </a>
        {% endif %}
    {% endif %}
    
{% endblock %}